@charset "UTF-8";
a, a:link {
  text-decoration: none;
  color: inherit;
}

ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

body {
  font: 16px/1.5 Noto-Sans KR;
  color: #333;
}

.footer-wrap, .header-wrap, header {
  margin: 0 auto;
}

.d-none {
  display: none;
}

header {
  position: fixed;
  width: 100%;
  z-index: 100;
}

.header-wrap {
  width: 1200px;
  display: flex;
  justify-content: space-between;
  height: 80px;
}

.logo-wrap {
  position: relative;
  width: 100px;
}

.logo {
  position: absolute;
}

.logo img {
  height: 80px;
}
#modal {
  width: 600px;
  height: 800px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 50px;
  z-index: 1000;
  position: fixed;
  box-sizing: border-box;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.336);
  overflow: hidden;
  background: white;
  display: none;
}

#modal h2 {
  padding-bottom: 50px;
  font-size: 2rem;
}

.info {
  padding-left: 10px;
  padding-bottom: 10px;
  align-items: center;
}

.info2 {
  font-size: 0.85em;
  font-weight: lighter;
}

.list-cart {
  display: flex;
  border-bottom: 1px solid lightgrey;
  padding-bottom: 10px;
}

.cart-text {
  padding-left: 30px;
  column-gap: 30px;
  width: 50%;
  display: flex;
  font-size: 12px;
  text-align: center;
  padding-top: 20px;
  font-weight: bold;
  font-size: 0.85em;
}

.cart-title p {
  width: 60px;
  border: 1px solid lightgray;
  border-radius: 10px;
  font-size: 0.85em;
  font-weight: normal;
  padding: 10px 0;
}

.button {
  height: 40px;
  width: 300px;
  display: flex;
  color: #fff;
  column-gap: 20px;
}

#modal button.route {
  background: #003893;
  border: 0;
  padding: 10px 20px;
  position: absolute;
  border-radius: 20px;
  align-items: center;
  right: 40%;
  bottom: 50px;
}

#modal button.out {
  color: #fff;
  background: #003893;
  border: 0;
  padding: 10px 20px;
  position: absolute;
  border-radius: 20px;
  align-items: center;
  right: 40%;
  bottom: 50px;
}

.cancel {
  padding-left: 60px;
  padding-top: 40px;
}

.list-museum {
  display: flex;
  border-bottom: 1px solid lightgrey;
  padding-top: 20px;
}

.museum-text {
  padding-left: 30px;
  column-gap: 30px;
  width: 50%;
  display: flex;
  font-size: 12px;
  text-align: center;
  padding-top: 20px;
  font-weight: bold;
  font-size: 0.85em;
}

.museum-title p {
  width: 50px;
  padding: 10px;
  border: 1px solid lightgray;
  border-radius: 10px;
  padding: 10px 5px;
  font-size: 0.85em;
  font-weight: normal;
}

.cancel {
  padding-left: 60px;
  padding-top: 50px;
}

.list-hotel {
  display: flex;
  border-bottom: 1px solid lightgrey;
  padding-bottom: 20px;
  padding-top: 20px;
}

.hotel-text {
  padding-left: 30px;
  column-gap: 30px;
  width: 50%;
  display: flex;
  font-size: 12px;
  text-align: center;
  padding-top: 20px;
  font-weight: bold;
  font-size: 0.85em;
}

.hotel-title p {
  width: 50px;
  padding: 10px;
  border: 1px solid lightgray;
  border-radius: 10px;
  padding: 10px 5px;
  font-size: 0.85em;
  font-weight: normal;
}

.cancel {
  padding-left: 60px;
  padding-top: 50px;
}

#btn1 {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border: 1px solid #003893;
  margin-top: 100px;
  margin-left: 170px;
  padding: 10px 20px;
  background: #fff;
  color: #003893;
}

#btn2 {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border: 0;
  padding: 10px 20px;
  background: #003893;
  color: #fff;
}
#m-menu {display: none;}
.fa-solid {
  width: 24px;
  height: 24px;
}
.fa-bars {
  color: white;
}
#gnb {
  color: #fff;
  width: 500px;
  display: flex;
  justify-content: space-between;
  line-height: 77px;
  font-size: 20px;
  font-weight: bold;
}

#gnb > li:hover {
  border-bottom: 5px solid #e63462;
}

.member {
  display: flex;
  justify-content: space-between;
  color: #fff;
  width: 70px;
  font-size: 1.5rem;
  line-height: 80px;
}

.active {
  background-color: #fff;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.253);
  transition: all 0.3s ease-in-out;
}

.topper i {
  color: #fff;
  position: fixed;
  right: 0;
  bottom: 0;
  font-size: 2.5rem;
  margin: 20px 30px;
  background: #e63462;
  border-radius: 100px;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
}

footer {
  width: 100%;
  background: #333;
  color: #ededed;
}

.footer-wrap {
  width: 1200px;
  display: flex;
  justify-content: space-between;
  padding: 30px 0;
}

.xnb ul {
  display: flex;
  column-gap: 50px;
  margin-bottom: 20px;
  font-weight: bold;
}

address {
  font-size: 0.8em;
  line-height: 25px;
  text-transform: uppercase;
}

.logo-ft img {
  width: 120px;
  opacity: 50%;
}

.ft-back img {
  width: 170px;
  opacity: 50%;
}

.tour-top img {
  width: 100%;
  height: 400px;
  position: relative;
}

.tour-text-wrap {
  width: 1200px;
  margin: 0 auto;
}

.tour-text {
  position: absolute;
  color: #fff;
  z-index: 10;
  margin-top: 180px;
  font-weight: bold;
  text-shadow: 2px 2px 4px #444;
  border-left: 9px solid #fff;
}

.tour-text h2 {
  font-size: 35px;
  text-transform: uppercase;
  padding: 0 0 5px 13px;
}

.tour-text p {
  font-size: 18px;
  padding: 0 0 5px 15px;
}

.home-tour {
  display: flex;
  width: 100%;
  height: 20px;
  border-bottom: 1px solid #333;
  padding: 10px 0;
  align-items: center;
}

.home-icon {
  width: 20px;
  padding: 11px 2rem 11px 5rem;
  border-right: 1px solid #333;
}

.home-tour-text {
  display: flex;
  padding-left: 2rem;
  column-gap: 0.7rem;
  font-size: 14px;
}

.best-title {
  text-align: center;
  padding-top: 100px;
}

.best-title h2 {
  font-weight: bolder;
  font-size: 30px;
  color: #333333;
}

.best-title p {
  font-weight: bolder;
  font-size: 20px;
  color: #e63462;
  padding-bottom: 40px;
}

.slider{
  height: 400px;
  width: 100%;
}
.slider img {
  width: 120px;
  height: 120px;
  padding-left: 80px;
}
.slider > li {
  height: 400px;
  width: 100%;
}
.slider h2 {
  font-size: 30px;
  color: #ffffff;
  font-weight: bolder;
  padding-left: 100px;
}
.slider p {
  font-size: 20px;
  color: #ffffff;
  padding-left: 100px;
}
.slider-text {
  padding-top: 100px;
}
.slider1{
  background: url("../images-heeji/slide-food1.png") no-repeat center/cover;
}
.slider2{
  background: url('../images-heeji/slide-food2.png') no-repeat center/cover;
}
.slider3{
  background: url('../images-heeji/slide-food3.png') no-repeat center/cover;
}
.slider4{
  background: url('../images-heeji/slide-food4.png') no-repeat center/cover;
}
.act-wrap {
  width: 1200px;
  margin: 0 auto;
}
.bx-wrapper {
  border: 0 !important;
  box-shadow: none;
  background: none;
}
.tab-title {
  text-align: center;
  padding-top: 100px;
}

.tab-title h2 {
  font-weight: bolder;
  font-size: 30px;
  color: #333333;
}

.tab-title p {
  font-weight: bolder;
  font-size: 20px;
  color: #333333;
  padding-bottom: 40px;
}

.spot-list2, .spot-list3, .spot-list4 {
  display: none;
}

.spot-tab-wrap {
  display: flex;
  overflow: hidden;
  margin: 0 auto;
}

.spot-tab-wrap > div {
  overflow: hidden;
  margin: 0 auto;
}

.spot {
  align-items: center;
  text-align: center;
  margin: 0 auto;
}

.spot-title {
  align-items: center;
  display: flex;
  column-gap: 30px;
  margin: 0 auto;
  font-size: 20px;
  padding-bottom: 50px;
  padding-left: 280px;
}

.spot-title p:hover {
  color: #003893;
  border: 3px solid #003893;
  background: white;
}

.spot-title p {
  height: 40px;
  display: flex;
  color: #333333;
  border: 3px solid lightgrey;
  border-radius: 50px;
  align-items: center;
  padding: 2px 30px;
}

.spot-title > a {
  display: inline-block;
  height: 60px;
  margin: 10px;
  line-height: 50px;
}

.heart {
  height: 50px;
  width: 50px;
  position: relative;
}

.dong {
  display: flex;
  column-gap: 10px;
}

.dong2 {
  display: flex;
  column-gap: 10px;
  padding-top: 60px;
  padding-bottom: 150px;
}

.dong p {
  font-size: 20px;
  font-weight: bolder;
}
.dong2 p {
  font-size: 20px;
  font-weight: bolder;
}
.dong > li img {
  height: 350px;
  width: 350px;
}
.dong2 > li img {
  height: 350px;
  width: 350px;
}
.zzim-wrap {
  max-width: 75px;
  height: 0;
  margin: 0 auto;
  position: relative;
  bottom: 350px;
  left: 150px;
}
.zzim {
  color: lightgray;
  display: block;
  display: inline-block;
  background-color: white;
  padding: 5px 7px;
  border-radius: 30px;
}
.zzim :hover {
  color: #e63462;
}
.tag {
  display: flex;
  column-gap: 5px;
  align-items: center;
  padding-top: 5px;
}

.tag p {
  font-size: 0.85em;
  border: 3px solid #ededed;
  background: #ededed;
  border-radius: 50px;
  padding: 3px 7px;
}

/*# sourceMappingURL=tour.css.map */
/* media */
@media screen and (max-width: 376px) {
  html {width: 100%; overflow-x: hidden;}
  .body {
    max-width: 375px;
    overflow: hidden;
  }


  /* menu */
  .header-wrap{
    width: 375px;
    height: 50px;
  }
  #gnb {
    display: none !important;
  }
  .fa-bars {
    color:#fff;
  }
  .burger {font-size: 1.5rem; position: relative; padding-right: 20px; transition: all ease-in-out .3s; z-index: 10;}
  .burger li {
    position: absolute;
  }
  #m-menu {
    display: block;
    position: absolute;
    right: 20px;
    top: 15%;
  }
  .m-menu {
    position: fixed;
    background: rgba(255, 255, 255, 0.918);
    width: 70%; height: 100%;
    box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.158);
    right: 0; top: 0;
    padding: 30px 30px;
    box-sizing: border-box;
    display: none;
  }
  .m-menu li {
    font-size: 1.4rem;
    line-height: 3rem;
    font-weight: bold;
    color: #333;
  }
  .menu-sub {
    display: flex;
    column-gap: 20px;
    border-top: 1px solid #999;
    margin-top: 30px;
    padding-top: 10px;
  }
  .logo img {
    max-width: 80px;
    max-height: 45px;
    margin: 0 0 0 .8rem;
  }
  .member {
    display: none;
  }
  .tour-top {
    max-width: 375px;
  }
  .tour-top img {
    height: 200px;
  }
  .tour-text {
    margin: 80px 10px 0 10px;
  }
  .tour-text h2 {
    font-size: 22px;
  }
  .tour-text p {
    font-size: 15px;
  }
  .home-tour {
    padding: 7px 0;
  }
  .home-tour-text {
    font-size: 10px;
    padding: 0 0 0 15px;
  }
  /* slider */
  .best-title h2 {
    font-weight: bolder;
    font-size: 20px;
    color: #333333;
  }
  
  .best-title p {
    font-weight: bolder;
    font-size: 20px;
    color: #e63462;
    padding-bottom: 40px;
  }
  
  .slider{
    height: 300px;
    width: 100%;
  }
  .slider img {
    width: 100px;
    height: 100px;
    padding-left: 30px;
  }
  .slider > li {
    height: 350px;
    width: 100%;
  }
  .slider h2 {
    font-size: 20px;
    color: #ffffff;
    font-weight: bolder;
    padding-left: 50px;
    padding-top: 30px;
  }
  .slider p {
    font-size: 15px;
    color: #ffffff;
    padding-left: 50px;
  }
  .slider-text {
    padding-top: 100px;
  }
  .slider1{
    background: url("../images-heeji/slide-food1.png") no-repeat center/cover;
  }
  .slider2{
    background: url('../images-heeji/slide-food2.png') no-repeat center/cover;
  }
  .slider3{
    background: url('../images-heeji/slide-food3.png') no-repeat center/cover;
  }
  .slider4{
    background: url('../images-heeji/slide-food4.png') no-repeat center/cover;
  }
  .best-title h2 {
  font-weight: bolder;
  font-size: 30px;
  color: #333333;
}

.best-title p {
  font-size: 20px;
  padding-bottom: 40px;
}


.bx-pager {
  padding: 0;
}


.act-wrap {
  width: 1200px;
  margin: 0 auto;
}
.bx-wrapper {
  border: 0 !important;
  box-shadow: none;
  background: none;
}
.tab-title {
  display: block;
  text-align: center;
  padding-top: 100px;
}

.tab-title h2 {
  font-weight: bolder;
  font-size: 30px;
  color: #333333;
}

.tab-title p {
  font-weight: bolder;
  font-size: 20px;
  color: #333333;
  padding-bottom: 40px;
}
.spot-list1 {
  width: 375px;
  height: 500px;
}
.spot-list2, .spot-list3, .spot-list4 {
  display: none;
}

.spot-tab-wrap {
  display: flex;
  overflow: hidden;
  margin: 0 auto;
}

.spot-tab-wrap > div {
  overflow: hidden;
  margin: 0 auto;
}

.spot {
  align-items: center;
  text-align: center;
  margin: 0 auto;
}

.spot-title {
  display: flex;
  column-gap: 5px;
  margin: 0 auto;
  font-size: 10px;
  padding-bottom: 50px;
  padding-left: 50px;
}
.spot-title p {
  height: 30px;
  display: flex;
  font-size: 10px;
  color: #333333;
  border: 3px solid lightgrey;
  border-radius: 50px;
  align-items: center;
  padding: 2px 20px;
}
.spot-title p:hover {
  color: #003893;
  border: 3px solid #003893;
  background: white;
}

.spot-title p {
  display: flex;
  text-align: center;
  font-size: 5px;
  font-weight: bolder;
  color: #333333;
  border: 3px solid lightgrey;
  align-items: center;
  padding: 2px 20px;
}

.spot-title > a {
  display: inline-block;
  height: 60px;
  margin: 10px;
  line-height: 50px;
}
.dong > li img {
  width: 100px;
  height: 100px;
}
.dong > li img:hover {
  transform:0;  
  transition:0;  
}
.dong {
  width: 320px;
  margin: 0 auto;
}
.dong p {
  font-size: 10px;
}
.dong2 p {
  font-size: 10px;
}
.dong2 {
  width: 320px;
  margin: 0 auto;
}

.dong2 > li img {
  height: 100px;
  width: 100px;
}
.tag p {
  font-size: 3px;
}
.tag p:nth-child(2) {
  display: none;
}
.tag p:nth-child(3) {
  display: none;
}

  .act-wrap {
    width: 1200px;
    margin: 0 auto;
  }
  .bx-wrapper {
    border: 0 !important;
    box-shadow: none;
    background: none;
  }
  .tab-title {
    text-align: center;
    padding-top: 100px;
  }
  
  .tab-title h2 {
    font-weight: bolder;
    font-size: 30px;
    color: #333333;
  }
  
  .tab-title p {
    font-weight: bolder;
    font-size: 20px;
    color: #333333;
    padding-bottom: 40px;
  }
  
  .spot-list2, .spot-list3, .spot-list4 {
    display: none;
  }
  
  .spot-tab-wrap {
    display: flex;
    overflow: hidden;
    margin: 0 auto;
  }
  
  .spot-tab-wrap > div {
    overflow: hidden;
    margin: 0 auto;
  }
  .zzim {
    display: none;
    background: none;
    color: white;
    padding-top: 30px;
  }
    
  /* footer */
  .footer {
    max-width: 375px;
  }
  .footer-wrap {
    height: 300px;
    max-width: 375px;
  }
  .footer-info {
    padding: 20px;
  }
  .xnb {
    padding-top: 1rem;
    font-size: 11px;
  }
  .xnb ul {
    column-gap: 0;
  }
  .xnb li {
    width: 110px;
    text-align: center;
  }
  address {
    font-size: 10px;
    padding: 1.5rem 1rem 0 1rem;
  }
  .logo-ft img {
    padding: 2rem 0;
  }
  .ft-back {
    display: none;
  }
}