a, a:link {
  text-decoration: none;
  color: inherit;
}

ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

body {
  font: 16px/1.5, Noto-Sans KR;
  color: #333;
}

.footer-wrap, .header-wrap, header {
  margin: 0 auto;
}

.d-none {
  display: none;
}

header {
  position: fixed;
  width: 100%;
  z-index: 100;
}

.header-wrap {
  width: 1200px;
  display: flex;
  justify-content: space-between;
  height: 80px;
}

.logo-wrap {
  position: relative;
  width: 100px;
}

.logo {
  position: absolute;
}

.logo img {
  height: 80px;
}

#gnb {
  color: #fff;
  width: 500px;
  display: flex;
  justify-content: space-between;
  line-height: 77px;
  font-size: 20px;
  font-weight: bold;
}

#gnb > li:hover {
  border-bottom: 5px solid #e63462;
}

.member {
  display: flex;
  justify-content: space-between;
  color: #fff;
  width: 70px;
  font-size: 1.5rem;
  line-height: 80px;
}

.active {
  background-color: #fff;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.253);
  transition: all 0.3s ease-in-out;
}

.topper i {
  color: #fff;
  position: fixed;
  right: 0;
  bottom: 0;
  font-size: 2.5rem;
  margin: 20px 30px;
  background: #e63462;
  border-radius: 100px;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
}

footer {
  width: 100%;
  background: #333;
  color: #ededed;
}

.footer-wrap {
  width: 1200px;
  display: flex;
  justify-content: space-between;
  padding: 30px 0;
}

.xnb ul {
  display: flex;
  column-gap: 50px;
  margin-bottom: 20px;
  font-weight: bold;
}

address {
  font-size: 0.8em;
  line-height: 25px;
  text-transform: uppercase;
}

.logo-ft img {
  width: 120px;
  opacity: 50%;
}

.ft-back img {
  width: 170px;
  opacity: 50%;
}

.main-map {
  width: 100%;
  height: 650px;
  background: url(../images-eunji/main-mapbg.jpg) no-repeat center/cover;
}

.map-text {
  display: flex;
  justify-content: center;
  color: #fff;
  column-gap: 10px;
  padding: 5rem 0 4rem 0;
  font-size: 18px;
}

.map-text h2 {
  font-weight: bold;
}

.map-wrap {
  display: flex;
  justify-content: center;
}

#map {
  width: 430px;
  height: 400px;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.4);
}

.info-wrap {
  height: 400px;
  overflow: hidden;
}

.map-info img, .map-info2 img, .map-info3 img, .map-info4 img, .map-info5 img {
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.4);
}

.info-text {
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 10px 10px;
}

.info-text-wrap p {
  padding: 1px 10px;
  font-size: 13px;
}

.info-text h3 {
  font-size: 22px;
  font-weight: bold;
}

.info-text-wrap {
  color: #fff;
  max-width: 440px;
  padding: 0 5px;
}

.fa-solid {
  width: 24px;
}

.theme-wrap {
  background: #dde0e6;
}

.theme-text {
  display: flex;
  justify-content: center;
}

.theme-text {
  font-size: 18px;
  column-gap: 10px;
}

.theme-text h2 {
  font-weight: bold;
}

.theme-img img {
  width: 500px;
}

.cont-wrap {
  display: flex;
  justify-content: flex-end;
}

.theme-img2, .theme-img3, .theme-img4 {
  display: none;
}

.theme-info2 {
  display: none;
}

.theme-info3 {
  display: none;
}

.theme-info4 {
  display: none;
}

.theme-bg {
  border: 1px solid #fff;
  background: #fff;
  width: 740px;
  height: 303px;
  position: absolute;
  border-top-left-radius: 50px;
}

.info-wrap {
  z-index: 100;
  padding-right: 10rem;
}

.info-wrap h3 {
  padding: 3rem 0 0 0;
  font-size: 13px;
}

.info-wrap h2 {
  padding: 1rem 0;
  font-size: 20px;
  font-weight: bold;
}

.info-wrap p {
  font-size: 14px;
  padding: 0.3rem 0;
}

.text-wrap {
  display: flex;
  justify-content: space-between;
}

.theme-heart {
  padding-top: 3rem;
  font-size: 1.2rem;
}

.theme-plus {
  padding-top: 2rem;
  font-size: 3rem;
  color: #ccc;
}

/*# sourceMappingURL=main.css.map */
