.slider1{
    background: url("../images-heeji/slide-stay1.png") no-repeat center/cover;
  }
  .slider2{
    background: url('../images-heeji/slide-stay2.png') no-repeat center/cover;
  }
  .slider3{
    background: url('../images-heeji/slide-stay3.png') no-repeat center/cover;
  }
  .slider4{
    background: url('../images-heeji/slide-stay4.png') no-repeat center/cover;
  }